{% load i18n static gestion_tags %}

{%comment%} PC VERSION {%endcomment%}

<div class="d-none d-lg-block"> 
    <div class="row list-header m-0">
	<div class="col-2 py-3 title-list"> <strong>{% trans 'Nombre' %} </strong> </div>
        <div class="col-2 py-3 title-list"> <strong>{% trans 'Teléfono' %} </strong> </div>
        <div class="col-2 py-3 title-list"> <strong>{% trans 'Email' %} </strong> </div>
        <div class="col-1 py-3 title-list"> <strong>{% trans 'PIN' %} </strong> </div>
        <div class="col-1 py-3 title-list"> <strong>{% trans 'DNI' %} </strong> </div>
        <div class="col-2 py-3 title-list"> <strong> {% trans 'Nº placa' %} </strong> </div>
        <div class="col-2 py-3 title-list text-end"> <strong> {% trans 'Acciones' %} </strong> </div>
    </div>

    {% for item in items %}
        <div class="row item-list m-0  {%if item.email == ""%}alert alert-warning{%endif%}" id="row_{{item.id}}">
            <div class="col-2 py-3 line-list">{{ item.name|default:"---" }}</div>
            <div class="col-2 py-3 line-list">{{ item.phone|default:"" }}</div>
            <div class="col-2 py-3 line-list">
                {% if item.email != "" %}{{ item.email }}{% else %}
                    <span class="text-danger">{%trans "Debe rellenar el correo electrónico para poder realizar los servicios"%}</span>
                {% endif %}
            </div>
            <div class="col-1 py-3 line-list">{{ item.pin|default:"" }}</div>
            <div class="col-1 py-3 line-list">{{ item.dni|default:"" }}</div>
            {#<div class="col-2"> {{request.session.s_emp_idate}} {{request.session.s_emp_edate}}</div>#}
            <div class="col-2 py-3 line-list">650654</div>
	    {#<div class="col-2 py-3 whitespace-nowrap text-sm text-gray-500">{% get_worked_time item request.session.s_emp_idate request.session.s_emp_edate %}</div>#}
            <div class="col-2 py-3 line-list text-end">
                <a class="btn btn-xs ark" data-url="{%url "employees-form"%}" data-target-modal="common-modal" 
                    data-obj_id="{{item.id}}" title="{% trans 'Editar' %}"><i class="fas fa-edit"></i></a> 
                <a class="btn btn-xs ark" data-url="{% url "employees-remove" %}" data-target="emp-list" data-obj_id="{{item.id}}" 
                    title="{% trans 'Borrar' %}" data-confirm="{% trans "Are you sure to remove this element?" %}">
                    <i class="fas fa-trash"></i></a> 
            </div>
        </div>
    {% endfor %}
</div>

{%comment%} MOBILE VERSION {%endcomment%}

{%comment%} <div class="d-lg-none"> 
    {% for item in items %}
    <div class="row list-item-cl pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-12"> <small><i class="fas fa-user orange"></i> {% trans 'Nombre' %}</small><br /><strong>{{ item.name|default:"---" }}</strong></div>
        <div class="col-12 mt-2"> <small><i class="fas fa-envelope orange"></i> {% trans 'Email' %}</small><br /><strong>{{ item.email|default:"" }}</strong></div>
        <div class="col-5 mt-2"> <small><i class="fas fa-phone orange"></i> {% trans 'Teléfono' %}</small><br /><strong>{{ item.phone|default:"" }}</strong></div>
        <div class="col-5 offset-2 mt-2"> <small><i class="fas fa-keyboard orange"></i> {% trans 'PIN' %}</small><br /><strong>{{ item.pin|default:"" }}</strong></div>
        <div class="col-5 mt-2">
            <button type="button" class="btn btn-primary-outline ark w-100" data-url="{% url "employees-form" %}" data-target-modal="common-modal" 
                data-obj_id="{{item.id}}" title="{% trans 'Editar' %}"><small>Editar</small></button></div>
        <div class="col-5 offset-2 mt-2">
            <button type="button" class="btn btn-outline-danger ark w-100" data-url="{% url "employees-remove" %}" data-target="emp-list" data-obj_id="{{item.id}}" 
            title="{% trans 'Borrar' %}" data-confirm="{% trans "Are you sure to remove this element?" %}"><small>Borrar</small></button></div>
    </div>
    {% endfor %}
</div>
{%endcomment%}


