{% load i18n %}


<form method="POST" action="{% url "employees-import" %}" id="form-rooms-import" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="row justify-center m-0 medium">
        <div class="col-lg-1 col-1 offset-lg-5 greybox-sm tex-center pt-2 text-end d-none d-lg-block"> {% trans "Fichero" %}: </div>
        <div class="col-lg-3 col-9 pt-1 mt-1 select-file"><input type="file" class="form-control imp" id="file" name="file"/></div>
        <div class="col-lg-1 col-3 greybox-sm p-1 text-center"><input type="submit" class="btn btn-sm save import" value="{%trans "Importar"%}"/></div>
    </div>
</form>

