{% load i18n gestion_tags %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fa fa-medkit orange"></i>&nbsp; {% trans 'Asistencia' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<div id="div-notification"></div>

<form class="form m-0" method="GET" action="{% url "assistances-form-save" %}" id="form-save">
    {%csrf_token%}
    <input type="hidden" id="obj_id" name="obj_id" value="{{obj.id}}" />
    <div class="row justify-center">
        <div class="col-5"> <div class="greybox-sm p-1"> {% trans "Cliente" %}
            <select class="form-control" id="client" name="client"> 
                {% for cl in client_list %}
                    <option value="{{cl.id}}" {%if cl == obj.client%}selected{%endif%}>{{cl.name}}</option>
                {% endfor %}
            </select>
        </div></div>
        <div class="col-5"> <div class="greybox-sm p-1"> {% trans "Empleado" %}
            <select class="form-control" id="employee" name="employee"> 
                {% for emp in emp_list %}
                    <option value="{{emp.id}}" {%if emp == obj.employee%}selected{%endif%}>{{emp.name}}</option>
                {% endfor %}
            </select>
        </div></div>

        <div class="col-2"> <div class="greybox-sm p-1"> {% trans "Finalizada" %}
            <input type="checkbox" class="form-check-input" id="finish" name="finish" {%if obj.finish%}checked{%endif%}/> </div> </div>
    </div>

    <div class="row justify-center">
        <div class="col-3"> <div class="greybox-sm p-1"> {% trans "Fecha Entrada" %}
            <input type="date" class="form-control" id="ini_date" name="ini_date" value="{{obj.ini_date|local_time|date:"Y-m-d"}}"/> </div></div>

        <div class="col-3"> <div class="greybox-sm p-1"> {% trans "Hora Entrada" %}
            <input type="time" class="form-control" id="ini_time" name="ini_time" value="{{obj.ini_date|local_time|date:"H:i"}}"/> </div> </div>

        <div class="col-3"> <div class="greybox-sm p-1"> {% trans "Fecha Salida" %}
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{obj.end_date|local_time|date:"Y-m-d"}}"/> </div> </div>

        <div class="col-3"> <div class="greybox-sm p-1"> {% trans "Hora Salida" %}
            <input type="time" class="form-control" id="end_time" name="end_time" value="{{obj.end_date|local_time|date:"H:i"}}"/> </div> </div>
    </div>

    <div class="d-flex justify-content-end p-2">
        <button class="btn btn-primary saveform" data-bs-dismiss="modal" data-form="form-save" data-target="item-list">
            {% trans "Guardar" %}</button>
        {%comment%}
        <button type="button" class="btn btn-primary ark" data-bs-dismiss="modal" data-url="{% url "index" %}"
            data-target="emp-list">{% trans "Guardar" %}</button>
        {%endcomment%}
    </div>
</form>

