{% load i18n gestion_tags %}

<form class="form m-0" method="GET" action="{% url "assistances-search" %}" id="form-search">
    {%csrf_token%}
    <div class="row">
        <div class="col-lg-5 col-6">
            <div class="row"> 
                <div class="col-lg-4 col-4 py-2 text-end d-none d-lg-block"> <span>{% trans "Buscar otra fecha:" %}</span> </div>
                <div class="col-lg-4 col-6 p-0">
                    <input type="date" class="autosearch form-control form-control-dark w-100 py-2" name="s_idate" id="s_idate" 
                        value="{{request.session.s_idate}}"/>
                </div>
                <div class="col-lg-4 col-6 p-0">
                    <input type="date" class="autosearch form-control form-control-dark w-100 py-2" name="s_edate" id="s_edate" 
                        value="{{request.session.s_edate}}"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-5 b-search">
            <div class="row">
                <div class="col-lg-5 col-5 py-2 text-end d-none d-lg-block"> <span>{% trans "Buscar trabajador/a:" %}</span> </div>
                <div class="col-lg-7 col-12">
                    <input type="text" class="autosearch form-control form-control-dark w-100 py-2" name="s_name" id="s_name" 
                        placeholder="Nombre trabajador/a" value="{{request.session.s_name}}"/>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-1 p-0">
            <button class="btn btn-default saveform w-100" data-form="form-search" data-target="item-list">
                <i class="fas fa-search"></i> </button>
        </div>
    </div>
</form>
     
    {%comment%}
<div class="row">
    <div class="col-lg-1 col-1 b-search"><i class="fas fa-search"></i></div>
    <div class="col-lg-5 col-11">
	    <div class="row">
		    <div class="col-4 py-2 text-end"> <span>{% trans "Buscar otra fecha:" %}</span> </div>
        	<div class="col-4">
        	    <input type="date" class="autosearch form-control form-control-dark w-100 py-2" name="s-idate" id="s-idate" 
	                data-url="{%url "assistances-search"%}" data-target="item-list" data-related="s-name,s-idate,s-edate" 
                    value="{{request.session.s_idate}}"/>
            </div>
        	<div class="col-4">
        	    <input type="date" class="autosearch form-control form-control-dark w-100 py-2" name="s-edate" id="s-edate" 
	                data-url="{%url "assistances-search"%}" data-target="item-list" data-related="s-name,s-idate,s-edate"
                    value="{{request.session.s_edate}}"/>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-11">
	    <div class="row">
		    <div class="col-5 py-2 text-end"> <span>{% trans "Buscar trabajador/a:" %}</span> </div>
        	<div class="col-7">
        	    <input type="text" class="autosearch form-control form-control-dark w-100 py-2" name="s-name" id="s-name" 
	                data-url="{% url "assistances-search" %}" data-target="item-list" data-related="s-name,s-idate,s-edate"
                    value="{{request.session.s_name}}"/>
            </div>
        </div>
    </div>
</div>
    {%endcomment%}
