html {
	background-color: #f9fafb; 
/*	letter-spacing: .0892857143em;*/
}

body {
	font-family: Roboto,sans-serif !important;
	background-color: #f9fafb; 
	font-size: 0.8rem;
}

body.loading{
	overflow: hidden;
}
    
body.loading .overlay{
	display: block;
}

h1 {
	color: #75b198;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 50px;
}

.navbar-brand {
	text-align: center;
}

.navbar-brand img {
	background-position: center center;
	background-size: contain;
	height: 65px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none; 
	-webkit-user-select: none;
	-moz-user-select: none;
}


.table-striped {
	margin-bottom: 0px !important;
}

.table-striped th {
	border-bottom:1px solid #dee2e6 !important;
	color: rgba(0,0,0,.6);
	font-size: 0.9rem;
	padding: 1rem !important;
	margin-left:0;
	margin-right:0;
}
.table-striped td {
	font-size: 0.8rem;
}

.table-striped td.row {
    background: #fff;
    color: #333;
	margin:0 !important;
}
.table>:not(caption)>*>*
{
	padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.table-striped>tbody>tr:hover {
	--bs-table-accent-bg: #eee !important;
}
.table-striped>tbody>tr {
}

.row.main-th {
    background-color: #e7f2d8;
    font-weight: 600;
}

.list-item {
	border-bottom: 1px solid #e7f2d8;
}
.list-item:hover {
	background-color: #e7f2d8;
}

.list-item-mob {
	border: 1px solid #e7f2d8;
}
.list-item-cl {
	border: 1px solid #e7f2d8;
	border-radius: 5px;
	margin-bottom: 15px !important;
	 -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.list-item-cl:hover {
	background-color: #e7f2d8;
}

th.row.main-th {
    padding-left: 0px !important;    
    padding-right: 0px !important;    
}

tr.small {
    background: #edf9f2;
    border-bottom: 1px solid #ece4e4 !important;
}

tr.small th {
    color: #333;
}

.table>:not(caption)>*>* {
    border-bottom:none !important;
}


/****************************
 	Status classes
****************************/

span.status-completed, .completed-total { background: #75b198; }

span.status-in-process, .in-process-total { background: #fdaa0c; }

span.status-pending, .pending-total { background: #fb0601; }

span.status-completed, span.status-in-process, span.status-pending  {	
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	padding: 0.25rem;
	width: 100%;
}

.completed-total, .in-process-total, .pending-total {
	color: #fff;
	font-size: 1rem;
}

/************************
	UTILITIES		
************************/

.inactive {
	background-color: #ccc !important;
}

.content {
	background: white;
    /*overflow-y: scroll;*/
	/*height: 95vh;*/
    /*padding-bottom: 5vh !important;*/
}

.gral-acts, .gral-acts:hover {
	color: rgba(0,0,0,.54);
	font-size: 15px;
	text-decoration: none;
}

.ml-list {
	margin-left: 10px;
}

.alert-danger.gesp {
	background-color: #fff;
    	border-color: #ffffff #ffffff #e7f2d8 #ffffff !important;
	color: red;
	font-weight: 600;
	padding: 0;
}   
.alert-warning.gesp {
	background-color: #fff;
    	border-color: #ffffff #ffffff #e7f2d8 #ffffff !important;
	color: #ffa500;
	font-weight: 600;
	padding: 0;
} 
.alert-danger.gesp:hover, 
.alert-warning.gesp:hover {
	background-color: #e7f2d8;
}

.btn-submit, .btn-submit:hover {
	background-color: #424242 !important;
	color: #fff;
	font-size: 0.9rem !important;
    text-transform: Capitalize;
}

button.btn.btn-primary.btn-sm.ark {
	background-color: #82bc00 !important;
	border:1px solid #82bc00 !important;

}

button.btn.btn-danger.btn-sm.ark {
    background-color: #f44336;
    border-color: #f44336;
    text-transform: Capitalize;
}

button.btn.btn-danger.ark.cancel {
	color: #fff !important;
}

button.btn.btn-primary,
a.btn.btn-primary, a.btn.btn-secondary, a.btn.btn-primary.ark, a.btn.btn-secondary.ark {
    background-color: #82bc00 !important;
    border:1px solid #82bc00 !important;
    font-size:1rem !important;
}
button.btn.btn-primary:hover,
a.btn.btn-primary:hover, a.btn.btn-secondary:hover, a.btn.btn-primary.ark:hover, a.btn.btn-secondary.ark:hover {
	background-color:  rgba(0,0,0,.54) !important;
	color: white !important;
}

.btn-primary-outline {
	color: #3b693a !important;
	border:1px solid #3b693a !important;
}

.btn.btn-sm.new,
.btn.btn-sm.ark.new,
.btn.btn-xs.exp {
	color: #727272;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
    border:1px solid #e7f2d8;
    letter-spacing: 0;
}
.btn.btn-sm.ark.new i {
	color: #727272;
}
.btn.btn-xs.exp:hover,
.btn.btn-sm.new:hover,
.btn.btn-sm.ark.new:hover {
	background-color: #e7f2d8;
}

a.btn.btn-primary.ark:hover, a.btn.btn-secondary.ark:hover {
    background-color: #4b7764 !important;
}

label.btn-tools.tools-primary {
    border: 1px solid #75b198;
    color: #75b198;
    padding: 0.5rem;
}
label.btn-tools.tools-primary:hover {
    border: 1px solid #4b7764;
    color: #4b7764;
}

i.fas.fa-upload { color: #75b198; }
i.fas.fa-upload:hover { color: #4b7764; }

i.fas.fa-route.white, i.fa.fa-truck, i.fa.fa-warehouse, i.fas.fa-times, i.far.fa-users, i.fas.fa-users.orange, i.fa.fa-medkit.orange, i.fa.fa-phone, i.fa.fa-envelope,
i.fas.fa-keyboard.orange {
	/*font-size: 1.3rem;*/
	color: #f2902d;
}
i.fas.fa-user.orange,
i.fas.fa-phone.orange,
i.fas.fa-envelope.orange,
i.fas.fa-comments.orange,
i.fas.fa-map-marker.orange {
	color: #f2902d;
}

img.img-fluid {
	box-shadow: 0px 9px 6px -6px #b5b5b5;
}

.panel-login {
	background-color: #fff;
	border-radius: 0.25rem;
	border: 1px solid #e2e2e2;
	text-align: left;
	width: 100%;
}

.toolbar-heading {
	background-color: #f9f9f9;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom: 1px solid #e2e2e2;
	padding: 16px 14px;
	text-align: left;
	width: 100%;
}

.toolbar-search {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0625);
	border-radius: 10px;
	width: 100%;
	text-align:center;
	align-items: center;
	display: flex;
	flex-direction: row;

}
.b-search {
	border-right:1px solid #f2902d;
}

.toolbar-search span {
	font-weight:600;
       color: #727272;
       font-style: italic;
       letter-spacing: 0;
}
.toolbar-search input {
	border:1px solid #ced4da !important;
}

.toolbar-search i.fas.fa-search {
	font-size:20px;
}
.toolbar-search.projects {
    display:grid;
    grid-template-columns: 1% 2% 97%;
}

.toolbar-search.projects i.fas.fa-search {
    font-size: 1rem;
    color: #777;
    margin-top: 12px;
}

input#s-name.autosearch.form-control.form-control-dark.w-100 {
    border: 0;
}

.row.btn-dark i.fas.fa-exchange-alt, 
.row.btn-dark a {
    text-decoration: none;
	color: #fff !important;
}

span.status-info {
    background: #e4d9d1;
    color:#404a5d; 
    padding: 10px 10px 11px 10px; 
    font-weight:600; 
    text-transform:uppercase;
}

.status-btn {
    border:1px solid #dfdfdf;
}
.status-btn:hover, 
.status-active:hover {
    border:1px solid #000; 
}

.status-active {
    border:1px solid #ff4500; 
    background-color: #f6e5c6;
    font-weight: 600;
}

.toolbar-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 10px;
}
.toolbar-content h2 {
	color: #5b7898;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom:0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

span.sub-h2 { 
	font-style: italic;
	font-size: 0.9rem;
	color:#666;
}

.badge {
	color: #f2902d !important;
	font-size: 0.9rem !important;
    text-transform: capitalize;
}

h2.pathway a {
	text-decoration: none;
	color: #36abfc !important;
}
h2,  
h2.pathway.b-right  {
	font-size: 0.875rem !important;
}

.b-right {
	border-right:1px solid #e0e0e0;
	padding-right: 15px;
	font-size: 0.875rem !important;
}
.b-bottom {
	border-color: solid #949494;
	border-width: 0px 0px 1px 0px !important;
	border-radius:0px;
}
.text-right { 
	text-align: right!important; 
}
.text-left { 
	text-align: left!important; 
}
.text-center { 
	text-align: center!important; 
}

.form-control {
	padding: 0rem 0.5em 0.1rem 0.5em;
	font-size: 0.9em;
	color: #333;
	border-color: #ced4da;
	border-width: 0px 0px 1px 0px !important;
}

.select-file {
    border:1px solid #e55000; border-radius:5px; height: 31px; font-size: 14px;
}

.form-control.imp {
    border-width: 0px !important;
}

.btn.btn-sm.save.import {
    background-color: #e55000;
    color: #fff;
}

input.form-control.login {
	display: block;
	width: 100%;
	height: calc(1.6em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da !important;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/************* Modal popup styles ***********/

.modal-content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

.modal-head {
	background-color: #ffffff;
	box-shadow: 0 0.125rem 0.25rem rgba(2, 6, 23, 0.075);
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 0;
	color: #f2902d;
	align-items: center;
}

#common-modal-body {
	color: 666666;
    padding: 0;
}

#common-modal-body .d-flex.justify-center {
    padding: 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

#common-modal-body .row.justify-center {
    padding: 1rem;
}

h2.common-modal-head {
    font-size: 1.1rem !important;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: #75b198;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

label.label {
    font-size: 0.9rem;
    color: #777;
}
input.input,
select.input {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc !important;
    border-radius: 0.25rem;
}

.permanent, .one-use {
    font-size: 0.8rem;
}

/************* btn styles ***********/

.save {
	text-transform: uppercase;
}
.save {
	color: #36abfc;
}
.cancel {
	color: #666;
}

button.btn.btn-success {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
}
.bg-success {
    background: #79b51c !important;
}
.bg-success-outline {
    border: 1px solid #79b51c !important;
    background: #fff !important;
    color: #79b51c !important;
}
.bg-danger-outline {
    border: 1px solid #dc3545 !important;
    background: #fff!important;
    color: #dc3545 !important;
}

.text-success {
    color: #79b51c !important;
}

.fa, .fas, .far {
	color: rgba(0,0,0,.54);
	font-size: 13px;
}

.multiselect_btn {
	border: 1px solid #ced4da;
	border-radius: 5px;
	padding: 5px;
}
.multiselect_btn_act {
	border: 1px solid #36abfc !important;
	border-radius: 3px;
	color: #36abfc !important;
	padding: 5px;
}
.multiselect_btn, .multiselect_btn_act {
	font-size: 0.9rem !important;
	float:left;
	width:auto;
	margin:5px;
	cursor: pointer;
}

.row.category {
	background: #f2f6fa;
	margin: 2px 0px 0px 0px;
}

.row.category:hover { background: #ebf1f6; }

.cat-row, .item-row , .pointer{ cursor:pointer; }

.categories-list, .items-list {
	color: #666;
	font-size: 14px;	
	font-style: italic;
	font-weight: normal;
}

.categories-list .open { color: #36abfc }
.categories-list .close { color: #666}

i.text-blue, span.text-blue, a#btn-show { color: #36abfc !important; }
i.text-grey, i.fas.fa-box { color: #999999 !important; }

.text-muted {text-decoration:line-through;}

.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }

#navbarSupportedContent { background: #212529; }

img.img-cart {border-radius: 10px 10px 10px 10px; box-shadow: 10px 0px 10px 0px rgb(0 0 0 / 50%); }

.flex-row { /*flex-direction: column!important;*/ }

div.striped>div:nth-of-type(odd) { background: #e0e0e0; }
div.striped>div:nth-of-type(even) { background: #FFFFFF; }

div.striped-nested>div>div:nth-of-type(odd) { background: #e0e0e0; }
div.striped-nested>div>div:nth-of-type(even) { background: #FFFFFF; }


/*   MOBILE DEVICES   */

@media (max-width: 960px) {

	.text-right { text-align: right!important; }

	#navbarSupportedContent { width:100%; margin:-12px; padding-left:30px; position:fixed; top:75px; }

        .sticky-top { width:100%!important }
}


@media (min-width: 768px) { 

	.bd-placeholder-img-lg { font-size: 3.5rem; } 
	
	.navbar-toggler { margin-right: 3rem; }
}

@media (max-width: 480px) { 

	.navbar-toggler { margin-right: 1rem; }
    
/*	.header { grid-template-columns: 10% 55% 10% 10% 10% !important; }*/

	a.btn .fa, .fas, .far { padding-left: 0 !important; }
    
	.fa, .fas, .far { font-size: 12px; }
}

@media only screen and (max-width: 800px)  {
	#sidebar.closed {
		display: none;
		border:1px solid black;
	}
}

@media only screen and (max-width: 480px)  {
	#sidebar.closed {
		display: none;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
}

.grid-container > div { font-size: 30px;color: #000; }

.item1 { grid-column: 1 / 5; }
.item2 { font-size: 18px !important; line-height: 1.8; text-align: right; }

.item1-v { grid-column: 1 / 6; }

.div-info { color: white; }
	
.booking-line-item-vertical {
    border:1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
}

img.img-cart-line {
	background-color: #fff;
	background-size: cover;
	border-radius: 10px 10px 10px 10px; 
	box-shadow: 0px; 
	height: 80px;
}

.grid-guest {
	background-color: #e6e6e6;
	background-color: #f5f5f5;
	border-radius: 10px 10px 10px 10px; 
	display: grid;
	grid-template-columns: 45% 30% 25%;
	text-align: center;
}

.grid-guest, .grid-guest a {
	color: #212529;
	text-decoration: none;
}

.item {
	font-weight: 600;
	color: #212529;
}


/************************************************/
		/* NEW STYLE*/
/************************************************/

.row.header.sticky-top {
/*	height: 75px;*/
	line-height: 5;
	align-items: center;
	background: #ffffff;
	font-size: 0.8rem;
	font-weight: light !important;
	color: #9e9e9e !important;
/*
     position: fixed;*/
     width: 100%;
  top: 0;
    border-bottom: 1px solid #e7f2d8;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);

}

.header i, .header a {
	font-size: 0.8rem;
	font-weight: light !important;
	color: #9e9e9e !important;
	text-decoration: none;
}

i.fas.fa-user-circle, i.fas.fa-sign-out-alt.text-white, a.dropdown-toggle { color: #5b7898 !important; }

a.dropdown-toggle { font-size: 1.6rem !important; }

.divbars-menu { width: 50px; }

.general { width: 100%; }

.drawerHeader {
	display: none;
}

.w-2r, .sz-2r {
	width: 2rem;
}

.bdrs-50p {
	border-radius: 50% !important;
}

.c-grey-900, .cH-grey-900:hover {
	color: #313435 !important;
}

/************* Horizontal collapsable menu   ***************/
.sidebar a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidebar a:hover {
	color: #f1f1f1;
}

#main {
	transition: margin-left .5s;
}

/************* User dropdown options   ***************/

.user-dropdown {
	width: 250px;
	position:absolute; 
	right:0;
	box-shadow: -1px 2px 19px -11px rgb(0 0 0 / 64%);
}
.user-dropdown ul { 
	padding: 0;
	margin: 0;
}
.user-dropdown li { 
	list-style: none;
	text-align:left;
	display: block;
	width: 100%;
	padding: 0.25rem;
	clear: both;
	color: #212529;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.user-dropdown li a {
	text-decoration:none;
	color: #72777a;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
}

.dropdown-divider {
	height: 0;
	margin: 0.5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}

.accordion-button {
	align-items: flex-end;
}

.accordion-button::after {
	margin-top: -30px;
	color: #417c65 !important;
}

/************ Icons style   ***************/

.header-icon {
	width: 35px;
	height:35px;
	background:#f3f7fb;
	border-radius: 50% !important;
}

.header-icon:hover {
	background:#dee7f0;
}
/******************************/

.row.menu {
    line-height: 3;
    letter-spacing: 0;
    margin: 10px 0 !important;
}
.row.menu .nav-item .nav-link {
    background: #ffffff;
    text-transform: uppercase;
    border:none;
    border:1px solid #e7e3e3;
    border-radius: 5px;
}
.row.menu .nav-item:hover {
}
.row.menu .nav-item.active .nav-link {
    border:1px solid #e35000;
}

#sidebar {
    background: #ffffff !important;
    padding: 1%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1001;
    width: 300px;
}

#sidebar.expanded {
    width: 300px;
}

#sidebar.closed {
    width: 60px !important;
}
#sidebar.closed .nav-link {
}

.navbar {
	height: 64px;
}
.nav-link {
	width: 100%;
}
.nav-item i {
	width: 35px;
	text-align:center;
}
.nav-item.active i {
	width: 35px;
	text-align:center;
	color: #e35000 !important;
}
.nav-link:hover {
	color:#ffffff;
	color: #e35000 !important;
}
.nav-item.active {
/*	border-radius: 5px;*/
}
.nav-item.active .nav-link {
	color: #e35000 !important;
}
.nav-item .nav-link {
	font-size: 0.8rem;
	color: #444 !important;
	white-space: nowrap !important;
	padding-left:0;
}
.nav-link:hover {
	border-radius: 5px;
	color: #e35000 !important;
}

/* --- Estilo Pestañas --- */

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    font-size: 0.75rem !important;
    background: 0 0;
    color: #5b7898 !important;
    padding: 5px 0 5px 0;
}

.nav-tabs .nav-link:hover {
    border-color: transparent !important;
   color: #333 !important;
}
.nav-tabs .nav-link.active:hover {
}

.nav-tabs .nav-link.active {
    color: #5b7898 !important;
    font-weight: 600;
    background-color: #fff;
}

.sep {
    color: #f2902d;
    line-height: 4;
    height: 50px !important;
}

/* --- Fin Estilo Pestañas --- */

/******************************/

#main-content {
    display: flex;
    flex-direction: row;
    /*height: 100vh;*/
 /*   max-height: 100vh;*/
    align-items: stretch;
/*    overflow-y: hidden;*/
}

#content-section {
/*    background: #f5f5f5;*/
    flex-basis: 99.5%;
    /*height: 99vh;*/
    padding: 10px;
    padding-bottom: 3.5rem;
}

div#cover.image.special {
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5550595238095238) 37%, rgba(190,194,201,0.8575805322128851) 100%);
}
.special img {
    width: 100%;
    object-fit: contain !important;
}

.b-marine {
    border-bottom:1px solid #404a5d
}

/*
div#cover.image.special img {
    object-fit: contain !important;
}
*/
    
.btn-marine {
    color: #3c385c !important;
    background-color: #eae6e4 !important;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
    height: 50px;
    line-height: 40px;
}
.btn-marine:hover {
    background-color: #e4d9d1 !important;
}
.head-details {
    background: #d2d2d2 !important;
    color:#404a5d !important;
    font-size: 0.8rem;
    width:94%;
    margin:auto;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
}
.head-details .item-left {
    text-align: left;
    color:#404a5d !important;
    font-size: 0.8rem;
    font-weight: normal !important;
}
.head-details td {
    color: #404a5d !important;
    font-size: 0.8rem;
    font-weight: 600;
    border:none !important;
    padding:0;
}

.change-status-box {
    width:94%;
    margin:auto;
    border-radius: 0 0 5px 5px;
    border: 2px solid #ccc;
    box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
}

.fw-normal {
    background: #d2d2d2 !important;
    color:#404a5d !important;
}

.fw-normal-status {
    background: #fff !important;
    color:#404a5d !important;
    font-size: 0.8rem;
}


input.input.invalid,
select.input.invalid,
.invalid {
    border: 1px solid red !important;
}

.msg_error{
    margin-top:-10px !important;
    padding:0px;
    color: red;
    font-size:0.8em;
}

#desc-editor {
    min-height: 500px;
}

.row.justify-center.notification-popup {
    margin-left:0px !important;
    margin-right:0px !important;
}
.notif-guest-list, .w-97 {
    margin:auto;
}
.row.guest {
    border:1px solid #eee !important;
    font-size: 0.8rem;
    border-radius:5px;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
}
.row.guest:hover {
    background: #eee !important;
}
.suggest-guest {
    border-left:1px solid #c2daff;
    border-right:1px solid #c2daff;
    border-bottom:1px solid #c2daff;
    border-radius: 5px;
    margin-top: -10px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 3px -1px rgb(0 0 0 / 20%);
}
.suggest-guest a {
    text-decoration: none;
}

/*********************************
*********** CHAT BOX ************
*********************************/

.back-grey {
    background: #e9ecef !important;
}

.bg-general {
    background: #999 !important;
}

.card.chat-box {
    position: absolute !important;
    bottom:0 !important;
    right:0 !important;
    max-width: 20rem !important;
}

#message-box.card-body {
    background: #f1f3f4 !important;
    height: 250px !important;
    overflow-y: scroll !important;
    flex-direction: column-reverse !important;
}

.response {
    border: 0px !important;
    border-radius: 10px !important;
    background: #fff !important;
    padding: 10px !important;
}

.msg-date {
    font-size:0.7em !important; 
    color: #666 !important;
}

/*********** end CHAT BOX ************/

.key-box {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

a.btn.btn-outline-warning {
    font-size:0.75rem;
}

.btn-outline-warning {
    color: #ff9200 !important;
    background-color: #fff;
    border-color: #ff9200 !important;
}
.btn-outline-warning:hover {
    color: #fff !important;
}

.hide { display: none; }

/*********************************/

.div-home {
/*
	diplay: grid; 
	grid-template-columns: 4fr 1fr;
	overflow-y: scroll;
	height: 99vh;
 */
}
.div-home .module {
	border-radius: 15px;
	background-color: #fff;
}
.div-home .module:hover {
	box-shadow: 2px 2px 20px 0 rgba(0,0,0,.1);
}
.div-home h3,
.div-home a {
	color: #333;
	font-weight: 600;
	text-decoration: none !important;
}

.home-left {
	border: 1px solid #dfdfdf;
	box-shadow: 0px 4px 6px -6px #b5b5b5;
}

.home-right {
	border: 1px solid #dfdfdf;
	box-shadow: 0px 4px 6px -6px #b5b5b5;
	/*margin-left: 15px;*/
	text-transform: uppercase;
}
.home-right i.fa.fa-check,
.home-right i.fa.fa-clock,
.home-right i.fa.fa-pen {
	font-size: 1.4rem ;
	color: #fff;
}

.home-right span {
	font-size: 2rem ;
	font-weight: 600;
}

.phase-div {
	border: 1px solid #dfdfdf;
	box-shadow: 0px 4px 6px -6px #b5b5b5;
	margin:auto;
	width: 100%;
}

.row.home, .row.phase, .row.phase-name, .row.btn-trial {
	margin-left: 0% !important;
	margin-right: 0% !important;
	width: 100%;
}
.row.btn-trial {
	--bs-gutter-x: 2%;
}

#ti-trial .row {
	margin-left:0px !important;
	margin-right:0px !important;
}

.img-instance {
	width: 150px !important;
	display:inline-block;
}

.row.phase {
	border: 1px solid #dfdfdf;
}

.row.phase-name {
	background: #f8f9fb;
	border-bottom:1px solid #75b198;
	color: #417c65;
	font-size: 0.9rem;
	font-weight: 600;
	padding-top: 10px !important;
}

.card.trial {
	margin: auto;
	width: 96%;
}

.card-header {
	background: #fff !important;
	border-bottom: 0px !important;
}
.card-header.trial {
	font-size: 0.8rem;
}

.info-panel {
	border:1px solid #dfdfdf;
	box-shadow: 0px 9px 6px -6px #b5b5b5;
}
.title-head {
	color: #75b198;
	font-weight: 600;
	font-size: 1.3rem !important;
	font-size: 1.2rem !important;
}

h3.text {
	color: #5b7898;
	font-size: 1rem;
}

/****************** Results **********************/

.results {
	border: 1px solid #dfdfdf;
	box-shadow: 0px 4px 6px -6px #b5b5b5;
	margin-left: 15px;
	text-transform: uppercase;
}

.results i.fa.fa-check,
.results i.fa.fa-times,
.results i.fa.fa-hourglass,
.results i.fa.fa-hourglass-end {
	font-size: 1.4rem;
	color: #fff;
}
.errors {
	background: #fb0601;
}
.hits {   
	background: #75b198;
}
.average-time {   
	background: #fdaa0c;
}
.total-time {   
	background: #35a8e0;
}
.errors, .hits, .average-time, .total-time {   
	border: 1px solid #dfdfdf;
	box-shadow: 0px 4px 6px -6px #b5b5b5;
	border-radius: 5px;
	color: #fff;
	padding: 1.25rem;
}
.errors span, .hits span, .average-time span, .total-time span { 
	font-size: 2em;
	font-weight: 600;
	text-transform: capitalize;
}


/************* Estilo del scroll ********************/

/* width */
::-webkit-scrollbar {
    height: 5px !important;
    width: 12px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e55000 !important;
}

/************** footer ****************/

.footer ,
.row.menu.mv {
    /*border-top: 1px solid #f2902d;*/
    background: #f5f5f5 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2;
    margin: 0 !important;
}
.row.menu.mv .nav-item {
    border: none;
}

.row.menu.mv .nav-item .nav-link {
    background: none;
    text-transform: uppercase;
    border:none;
}
.row.menu.mv .nav-item:hover {
}
.row.menu.mv .nav-item.active .nav-link {
    border:none;
}



/************** PRINT QR ****************/

.row.qr-print {
/*	width: 20%;*/
	margin: auto;
	text-align:center;
	width: 5cm;
}
.row.qr-print img {
	border:1px solid #ccc !important;
	width: 100%;
}
