<!-- Django template para formulario de ReportAudio using bootstrap-->
<form method="post" enctype="multipart/form-data" id="audio-form" action="{% url 'agents-audio-form-save' %}">
    {% csrf_token %}
    <input type="hidden" name="id" id="id_id" value="{{ item.id }}">
    <div class="form-group">
        <label for="id_text" class="text-left"><span class="form-text">Transcripción:</span><br></label>
        <textarea class="form-control" id="id_text" name="text">{{ item.text|default_if_none:'' }}</textarea>
    </div>  
</form>