{% load i18n gestion_tags %}
<form class="form" method="GET" action="{% url "employees-search" %}" id="form-search">
    {%csrf_token%}

	<div class="search-area p-4">
		<div class="search-grid grid-cols-1 md:grid-cols-3 gap-4">
                   
			<div>
                            <label for="typeFilter" class="mb-1">Agente</label>
			    <input type="text" class="form-control block w-100 p-2.5" name="s_emp_name" id="s_emp_name" placeholder="Nombre agente" value="{{request.session.s_emp_name}}"/>

                        </div>
                        <div>
                            <label for="typeFilter" class="mb-1">Nº de placa</label>
			    <input type="text" class="form-control block w-100 p-2.5" name="s_emp_name" id="s_emp_name" placeholder="Nº de placa" value="{{request.session.s_emp_name}}"/>

                        </div>

			<div class="flex justify-end">
				<button class="btn-primary saveform py-2 px-4" data-form="form-search" data-target="emp-list"> Aplicar filtros</button>
	                 </div>
                    </div>
	</div>

</form>

