{% load i18n static gestion_tags %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asistente de Decisiones</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
        <!-- Add JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{% static "css/assitant.css" %}" >
        <style>@view-transition { navigation: auto; }</style>
        <script src="{% static 'js/iapol-assistant.js' %}"></script>
    </head>

    <body class="h-full m-0 p-0">
        {% block content %}{% endblock content %} </section>
    </body>
</html>
