{% extends 'base_error.html' %}
{% load i18n gestion_tags %}

{% block central_content %}

    <div id="msg-error-exc">
        <div class="col-xs-12 alert alert-danger">
            {% trans "Sorry!!!!. We have a problem. Try in a few minutes" %}.{%if err_msg%} {{err_msg}} {%endif%}</div>
        <span class="separator">&nbsp;</span>
        <div class="card">
            <div class="card-header bg-danger text-white">
                <div class="row">
                    <div class="col-md-11">{% trans 'Problem Description' %}</div>
                    <div class="col-md-1 text-right"><a class="btn btn-sm btn-dark text-white" onclick="$('#msg-error-exc').empty();"><i class="fas fa-times text-white"></i></a></div>
                </div>
            </div>
            <div class="card-body">{{exc}}</div>
        </div>
    </div>

{% endblock %}
