{% load i18n %}

<div class="content">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 justify-center items-start max-w-6xl mx-auto">
        <!-- Plan Prueba -->
        <div class="plan col-12">
            <div class="plan-free">
                <div class="plan-name mt-2">Prueba gratis</div>
                <div class="free-price py-2 my-3">GRATIS</div>
                <p class="p-2"><strong>Prueba gratis 30 días</strong></p>
                <div class="description p-3">
                    &nbsp; <i class="fa fa-check-square"></i>Acceso completo por 30 días</div>

                <div class="text-center mb-3">
                    <button class="btn btn-free w-75">Empezar Prueba</button>
                </div>
            </div>	
        </div>

        <!-- Plan Básico -->
        <div class="plan col-12">
            <div class="plan-pay">
                <div class="plan-name mt-2">Básico</div>
                <div class="pay-price pt-1 my-3">10 <span class="mini">€/mes</span></div>
                <div class="plan-icon"><i class="far fa-comment-dots"></i></div>
                <div class="description p-3">Consultas en cualquier modo</div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary w-75">Elegir Plan</button>
                </div>
            </div>	
        </div>

        <!-- Plan Informes -->
        <div class="plan col-12">
            <div class="plan-pay">
                <div class="plan-name mt-2">Informes</div>
                <div class="pay-price pt-1 my-3">20 <span class="mini"> €/mes</div>
                <div class="plan-icon"><i class="fas fa-chart-bar"></i></div>
                <div class="description p-3">Generación de informes</div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary w-75">Elegir Plan</button>
                </div>
            </div>	
        </div>

        <!-- Plan Ilimitado -->
        <div class="plan col-12">
            <div class="plan-pay">
                <div class="plan-name mt-2">Ilimitado</div>
                <div class="pay-price pt-1 my-3">30 <span class="mini"> €/mes</div>
                <div class="plan-icon"><i class="fas fa-infinity"></i></div>
                <div class="description p-3">Consultas  informes en cualquier modo</div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary w-75">Elegir Plan</button>
                </div>
        </div>	
    </div>
</div>


