{% load i18n gestion_tags %}

{#{% if user.is_authenticated %}#}

{% if user|in_group:"admins" %}

{%comment%} PC VERSION {%endcomment%}
    <div class="menu-items p-4 d-none d-lg-block">
	<a class="{%current 'reports'%}" aria-current="page" href="{% url 'index' %}">{%trans 'Denuncias'%}</a>
	<a class="{%current 'employees'%}" aria-current="page" href="{% url 'employees' %}">{%trans 'Agentes'%}</a>
	<a class="{%current 'otros'%}" aria-current="page" href="#">{%trans 'Otros'%}</a>
	{%comment%}
	    <a class="{%current 'reports'%} menu-item py-4 px-6 font-medium text-gray-600 hover:text-blue-600 hover:border-b-2 
            hover:border-blue-600" aria-current="page" href="{% url 'index' %}">{%trans 'Denuncias'%}</a>

	    <a class="{%current 'employees'%} menu-item py-4 px-6 font-medium text-blue-600 border-b-2 border-blue-600" 
            aria-current="page" href="{% url 'employees' %}">{%trans 'Agentes'%}</a>

	    <a class="{%current 'otros'%} menu-item py-4 px-6 font-medium text-gray-600 hover:text-blue-600 hover:border-b-2 
            hover:border-blue-600" aria-current="page" href="#">{%trans 'Otros'%}</a>
	{%endcomment%}
    </div>

{%comment%} MOBILE VERSION {%endcomment%}
    <div class="menu-items p-4 d-lg-none">
	<a class="" aria-current="page" href="#">{%trans 'Denuncias'%}</a>
	<a class="active" aria-current="page" href="#">{%trans 'Agentes'%}</a>
	<a class="" aria-current="page" href="#">{%trans 'Otros'%}</a>
	{%comment%}
        <a class="text-center menu-item py-2 px-6 font-medium text-blue-600 border-b-2 border-blue-600 {%current 'home'%} p-1" 
            aria-current="page" href="{% url 'index' %}">{%trans 'Denuncias'%}</a>

	    <a class="text-center menu-item py-2 px-6 font-medium text-gray-600 hover:text-blue-600 hover:border-b-2 hover:border-blue-600
            {%current 'employees'%} p-1" aria-current="page" href="{% url 'employees' %}">{%trans 'Agentes'%}</a>

	    <a class="{%current 'otros'%} menu-item py-2 px-6 font-medium text-gray-600 hover:text-blue-600 hover:border-b-2 
            hover:border-blue-600" aria-current="page" href="#">{%trans 'Otros'%}</a>

	{%endcomment%}
    </div>


	{%comment%}
	{% elif user|in_group:"professionals" %}
	    <div class="nav-item"> <a class="nav-link {% current 'tests-instances-professional' %}" href="{% url 'tests-to-fill-professional' %}">
		<i class='fas fa-eye'></i>{% trans 'Mostrar tests' %}</a> </div>
	{%endcomment%}

{% else %}
    <div class="nav-item"> <a class="nav-link {% current '' %}" href="{% url 'auth_login'  %}"> 
        <i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}</a> </div>
{% endif %}

