{% load i18n gestion_tags %}

<form class="form m-0" method="GET" action="{% url "clients-search" %}" id="form-search">
    {%csrf_token%}
    <div class="row">
        <div class="col-11 b-search">
            <div class="row">
                <div class="col-2 py-2 text-end d-none d-lg-block"> <span>{% trans "Buscar cliente:" %}</span> </div>
                <div class="col-10">
                    <input type="text" class="form-control form-control-dark w-100 py-2" 
                        name="s_cli_name" id="s_cli_name" placeholder="Nombre cliente" value="{{request.session.s_cli_name}}"/>
                </div>
            </div>
        </div>
        <div class="col-1 p-0">
            <button class="btn btn-default saveform w-100" data-form="form-search" data-target="client-list">
                <i class="fas fa-search"></i> </button>
        </div>
    </div>
</form>
     
