{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fas fa-users orange"></i>&nbsp; {% trans 'Clients' %} </div>
    <div class="col-1"> <div class="d-flex justify-content-end"> 
        <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
        <i class="fas fa-times"></i></button> </div> </div>
</div>

<div id="div-notification"></div>

<div class="row justify-center">
    <div class="col-8">
        <div class="greybox-sm p-1">
            {% trans "Nombre" %}
            <input type="text" class="form-control autosave" id="name" name="name" value="{{obj.name|default:""}}" 
                title="{{obj.name}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Nombre..." /> <span id="name__msg"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="greybox-sm p-1">
            {% trans "Código" %}
            <input type="text" class="form-control autosave" id="code" name="code" value="{{obj.code|default:""}}" 
                title="{{obj.name}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Código..." /> <span id="code__msg"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="greybox-sm p-1">
            {% trans "Desactivar" %}
            <input type="checkbox" class="form-check-input autosave" id="inactive" name="inactive"  data-model-name="gestion.client" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" data-bool="True"
                {%if obj.inactive%}checked{%endif%}/> <span id="inactive__msg"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="greybox-sm p-1">
            {% trans "Teléfono" %}
            <input type="text" class="form-control autosave" id="phone" name="phone" value="{{obj.phone|default:""}}" 
                title="{{obj.phone}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Teléfono..." /> <span id="phone__msg"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="greybox-sm p-1">
            {% trans "Correo electrónico" %}
            <input type="text" class="form-control autosave" id="email" name="email" value="{{obj.email|default:""}}" 
                title="{{obj.email}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Correo electrónico..." /> <span id="email__msg"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="greybox-sm p-1">
            {% trans "Dirección" %}
            <input type="text" class="form-control autosave" id="address" name="address" value="{{obj.address|default:""}}" 
                title="{{obj.address}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Dirección..." /> <span id="address__msg"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="greybox-sm p-1">
            {% trans "Observaciones" %}
            <textarea class="form-control autosave" id="observations" name="observations" title="{{obj.observations}}" 
                data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Observaciones...">{{obj.observations|default:""}} </textarea>
            <span id="observations__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary ark mx-2" data-bs-dismiss="modal" data-url="{% url "clients-list" %}"
        data-target="client-list">{% trans "Guardar" %}</button>
    {% if new %}
        <button type="button" class="btn btn-danger ark cancel" data-bs-dismiss="modal" data-url="{% url "clients-remove" %}" 
            data-target="client-list" data-obj_id="{{obj.id}}" {#data-confirm="{% trans "Are you sure to remove this element?" %}"#}>
            {% trans "Cancelar" %}</button>
    {% endif %}
</div>

