{% extends "base_assistant.html" %}
{% load static i18n assistant_tags %}

{% block content %}
    {% include "assistant/templates.html" %}

    <input type="hidden" id="report-id" value="{{ report_id }}">

    <!-- ROW 1 --> 
    {% include "assistant/top-bar.html" %}
        
    <!-- ROW 2 --> 
    <br/>
    <div class="row div-mode p-2 m-0 mt-3" id="bar-mode" style="background:{{submode.color}}"> 
        <div class="col-12">{{submode.title}}</div>

    </div>

    <!-- ROW 3 --> 
    <div id="app" class="div-chat">
        <div id="chat-container" class="div-chat-container px-2 py-4 space-y-4">

	        <div class="btn btn-warning btn-close-chat">
		        <a id="new-chat" type="button" class="pt-1" href="{%url "chat-close" report_id %}"
			        onclick="return confirm('{%trans "¿Está seguro/a de terminar esta interacción?"%}');">
			        <i class="fas fa-sync-alt"></i>
		        </a>
	        </div>

            <div class="message-enter gap-3">
                <div class="flex-1">
                    <div class="message-box px-4 py-3"> <p id="welcome-text" class="">{{msg_init}}</p> </div>
                    <span class="msg-time">Ahora</span>
                </div>
            </div>
            {% for msg in msg_list %} <script> addMessage("{{msg}}", true); </script> {% endfor %}
        </div>
        <div id="typing-indicator" class="spinner hidden px-5 pb-2"> <div class="ring"></div> </div>
    </div>
    	   
    <div class="row div-footer m-0">

    	<!-- ROW 4 --> 
	    <div class="row m-0">
       	    <div id="record-indicator" class="col-2 offset-5 recorder-compact hidden p-0"> 
		        <div class="spinner-circle"></div>
		        <div class="record-dot"></div>
            </div>
	    </div>

	    <div class="row div-buttons py-3 px-2 m-0">
		    <div class="col-10 pl-0">
		        <input type="text" id="text-input" class="p-4" placeholder="O escribe tu situación..." 
                    data-mode="{{mode}}" data-submode="{{submode.code}}">
		    </div>
		    <div class="col-2 p-0">
		        <button id="send-btn" class="btn btn-primary btn-write btn-action" style="display:none"> 
                    <i class="fas fa-paper-plane"></i> </button>

		        <button id="mic-btn" type="button" class="btn btn-primary btn-voice btn-action"><i class="fa fa-microphone"></i>
			        <div id="mic-pulse" class="absolute inset-0 bg-white/20 rounded-full pulse-ring hidden"></div>
		        </button>

			    <button id="stop-btn" type="button" class="btn btn-danger btn-voice btn-action" 
                    style="background-color:#ff0000;display:none"> <i class="fa fa-pause"></i>
		        </button>
			</div>
	    </div>

	    <!-- ROW 5 --> 
	    {% include "assistant/mode-buttons.html" %}
	    
	    <!-- ROW 6 --> 
    	{% include "assistant/footer-bar.html" %}
    </div>
{% endblock %}
