{% load static i18n pwa_tags %}

<div class="row div-mode-buttons m-0 pb-2 p-0">
    <div class="col-6 px-1">
    	<div class="btn-urgency text-center py-4">
	        <button class="btn btn-mode text-white px-0" data-value="urgency" data-color="#7a2e2e" data-block="" 
                {%if submode == "operator"%}disabled{%endif%}> <strong>URGENCIA</strong></button>
    	</div>
    </div>
    <div class="col-6 px-1">
    	<div class="btn-intervenc text-center py-4">
            <button class="btn btn-mode text-white px-0" data-value="operator" data-color="#2e5c46" data-title="OPERADOR" 
                data-block="urgency"> <strong>OPERADOR</strong></button>
    	</div>
    </div>
    {%comment%}
    <div class="col-4 px-1">
    	<div class="btn-consult text-center py-4">
            <button class="btn btn-mode text-white px-0" data-value="consulta" data-color="#234a63" data-title="INSTRUCTOR">
                <strong>INSTRUCTOR</strong></button>
	    </div>
    </div>
    {%endcomment%}
</div>

<script>
    $(".btn-mode").click(function(){
        $(".btn-mode").removeClass("text-primary").addClass("text-white");
        $(this).addClass("text-primary").removeClass("text-white");
        $("#text-input").attr("data-submode", $(this).data('value'));
        $("#bar-mode").css("background", $(this).data('color'));
        $("#bar-mode > div").html("MODO "+$(this).data('title'));

        let block_list = $(this).data("block").split(";");
        block_list.forEach(function(value, index) {
            $(`button[data-value="${value}"]`).prop('disabled', true);
        });
    });
</script>
 
