{% extends "base_assistant.html" %}
{% load static i18n assistant_tags %}

{% block content %}
    {% include "assistant/top-bar-admin.html" %}

    <div class="container mt-4">

        <h3 class="mb-4">Buscador de usuarios</h3>

        <form method="GET" class="row g-3 mb-4">
            <!-- Filtros -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">Buscar usuario</label>
                    <input type="text" class="form-control" id="searchInput" placeholder="Nombre de usuario">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Fecha inicio</label>
                    <input type="date" class="form-control" id="startDate" value="{{startDate}}">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Fecha fin</label>
                    <input type="date" class="form-control" id="endDate" value="{{endDate}}">
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary w-100" type="submit">Buscar</button>
                </div>
            </div>
        </form>

        <!-- TOTALES -->
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card text-bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Expedientes totales</h5>
                        <h2 id="totalExpedientes">{{total_expedientes}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card text-bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Interacciones totales</h5>
                        <h2 id="totalInteracciones">{{total_interacciones}}</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Número de expedientes</th>
                        <th>Número de interacciones</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    {% for e in employees %}
                        <tr>
                            <td>{{ e.name }}</td>
                            <td>
                                <table class="table table-striped table-bordered">
                                    <thead class="table-primary">
                                        <tr> <th>Intervenciones</th> <th>Consultas</th> </tr> </thead>
                                    <tbody id="dataTable">
                                        <tr> 
                                            <td>{{ e.total_expedientes_int }}</td> 
                                            <td>{{ e.total_expedientes_con }}</td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>{{ e.total_interacciones }}
                                <table class="table table-striped table-bordered">
                                    <thead class="table-info">
                                        <tr> <th>Intervenciones</th> <th>Consultas</th> </tr> </thead>
                                    <tbody id="dataTable">
                                        <tr> 
                                            <td>{{ e.total_interacciones_int }}</td> 
                                            <td>{{ e.total_interacciones_con }}</td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
