<template id="assistant-message-template">
    <div class="message-enter flex gap-3">
        <div class="flex-1">
            <div class="overflow-hidden">
                <div class="message-box px-3 py-3">
                    <div class="flex items-center mb-2 px-1 priority-dot">
			            {# <div class="priority-dot w-2 h-2"></div> #}
                        <span class="priority-label"></span>
                    </div>
                    <div class="px-4">
                        <p class="message-advice text-sm"></p>
                    </div>
		            <div class="" style="font-weight: 600;">
                        BASE PARA ACCIÓN: <span class="posible-action text-sm leading-relaxed"></span>
	                    - <span class="basis-for-action text-sm leading-relaxed"></span>
        	            - <span class="decision text-sm leading-relaxed"></span><br/>
		            </div>
                    <div class="factual-reason text-sm leading-relaxed"></div>
                    <div class="facts-list text-sm leading-relaxed"></div>
                    <div class="critical-state text-sm leading-relaxed"></div>
                    <div class="structural-framework text-sm leading-relaxed"></div>
                    <div class="structural-question text-sm leading-relaxed"></div>
                    {% if request.user.username == "agente" %}
                        <hr/>
                        <p class="message-text text-sm leading-relaxed"></p>
                    {% endif %}
                </div>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="user-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-agent">
            <div class="message-box px-4 py-3">
                <p class="message-text"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="comp-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-agent">
            <div class="message-box px-4 py-3">
                <p class="message-text"></p>
                <br/><strong>Por favor, responda a las siguientes preguntas</strong><br/><br/>
                <p class="questions"></p>
                {#<br/><br/><strong>Modelo</strong><br/><br/>#}
                <p class="template"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="error-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-error">
            <div class="message-box px-4 py-3">
                <p class="message-text"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="intervention-message-template">
    <div class="message-enter flex justify-end">
        <button id="btnCopiar">Copiar Texto</button>
        <div class="message-intervencion">
            <div class="message-box px-4 py-3">
                <p class="message-text"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="consultation-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-consulta">
            <div class="message-box px-4 py-3">
                <button id="copy-btn" class="btn-copy-text"><i class="far fa-copy"></i></button>
                <p class="message-text"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>

<template id="file-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-consulta">
            <div class="message-box px-4 py-3">
                <button id="copy-btn" class="btn-copy-text"><i class="far fa-copy"></i></button>
                <div class="chat-pdf-preview"> <i class="fas fa-file-pdf"></i> <span> <p class="message-text"></p> </span> </div>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>
