<template id="assistant-message-template">
    <div class="message-enter flex gap-3">
        <div class="flex-1">
            <div class="overflow-hidden">
                <div class="message-box px-4 py-3">
                    <div class="flex items-center gap-2 mb-2">
                        <div class="priority-dot w-2 h-2"></div>
                        <span class="priority-label small"></span>
                    </div>
                    BASE PARA ACCIÓN: <span class="posible-action text-sm leading-relaxed"></span>
                    - <span class="basis-for-action text-sm leading-relaxed"></span>
                    - <span class="decision text-sm leading-relaxed"></span><br/>
                    <p class="factual-reason text-sm leading-relaxed"></p>
                    <p class="critical-state text-sm leading-relaxed"></p>
                    <p class="structural-framework text-sm leading-relaxed"></p>
                    {% if request.user.username == "agente" %}
                    <hr/>
                    <p class="message-text text-sm leading-relaxed"></p>
                    {% endif %}
                </div>
                <div class="px-4">
                    <p class="message-advice text-sm"></p>
                </div>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>


<template id="user-message-template">
    <div class="message-enter flex justify-end">
        <div class="message-agent">
            <div class="message-box px-4 py-3">
                <p class="message-text"></p>
            </div>
            <span class="msg-time">Ahora</span>
        </div>
    </div>
</template>
